<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cody's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/ghostdown.css') }}" media="all" rel="stylesheet">
  </head>

  <body>
    <header id="top-header">
      <nav>
        <ul>
          <li><a href="{{ url_for('posts_index') }}">View Content</a></li>
        </ul>
      </nav>
    </header>

    <div id="entry-title-container">
      {% if post %}
        <input type="text" id="entry-title" value="{{ post.title }}">
      {% else %}
        <input type="text" id="entry-title" placeholder="Title">
      {% endif %}
    </div>

    <div class="features">
      <section class="editor">
        <div class="outer">
          <div class="editorwrap">

            <section class="entry-markdown">
              <header class="floatingheader">MARKDOWN</header>
              <section class="entry-markdown-content">
                {% if post %}
                <textarea>{{ post.markdown }}</textarea>
                {% else %}
                <textarea>Body</textarea>
                {% endif %}
              </section>
            </section>

            <section class="entry-preview active">
              <header class="floatingheader">PREVIEW<span class="entry-word-count">0 words</span> </header>
              <section class="entry-preview-content">
                <div class="rendered-markdown">
                  {% if post %}
                  {{ post.html }}
                  {% endif %}
                </div>
              </section>

            </section>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <button id='save-button' class='custom-button'>Save</button>
      {% if post %}
        <button class='custom-button delete-button'>
          <a href="{{ url_for('post_delete', post_id=post.id) }}" onclick='return confirm("Are you sure you want to delete?")'>Delete</a>
        </button>
      {% endif %}
    </footer>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/ghostdown.js') }}"></script>	
    <script src="{{ url_for('static', filename='js/jquery.ghostdown.js') }}"></script>	
    <script src="{{ url_for('static', filename='js/custom/editor.js') }}"></script>	
  </body>
</html>
